.main_content {
    display: flex;
    background-image: url('../src/assets/white_flamingo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .show {
    position: relative;
	opacity: .5;
  }
  
  @media screen and (max-width:700px) {
  
    .main_content {
      background-image: none;
      position: relative;
    }
    
  }