.sidebar {
   margin: 0;
    flex-basis: 25%;
    box-shadow: 2px 2px 2px 2px ;
    /* border-bottom-left-radius: 25px;
    border-top-left-radius: 25px; */
    background-image: url('../../assets/main_bg.jpeg');
   
}

.sidebar_menu {
    display: flex;
    color: white;
    cursor: pointer;
    
}

.animal_icon {
    margin: 8px 0;
    width: 10%;
    height:10%;
}

.animal_name {
    margin: 8px 16px;
    font-size: 1.2rem;
    margin-left: 48px;
    font-weight: 700;
}

.animal_name::after {
    background-color: #036331;
    content: "";
    margin-top: 4px;
    display: block;
    height: 2px;
    width: 100%;
    text-align: center;
    transition: all .3s;
    transform: scale(0);
}

.animal_name:hover {
    text-transform: uppercase;
}

.animal_name:hover::after {
    transform: scale(1);
}

.active {
    background-color: rgba(185, 201, 179);
    opacity: 1;
    color: #036331;
    border-radius: 10px;
    max-height: 50px;
    margin: 8px;
    box-shadow: 2px 2px 2px 2px;
}