.sidebar {
   margin: 0;
    flex-basis: 25%;
    box-shadow: 10px -2px 5px 0px rgba(0,0,0,0.75);
    padding: 16px;
}

.sidebar_menu {
    display: flex;
    color: white;
    cursor: pointer;
    
}

.animal_icon {
    margin: 8px 0;
    width: 15%;
    height:15%;
}

.animal_name {
    margin: 8px 16px;
    font-size: 1.2rem;
    margin-left: 48px;
    font-weight: 700;
    width: 150px;
}

.animal_name:hover {
    transform: scale(1.05)
}

.active {
    background-color: black;
    opacity: 1;
    color: white;
    border-radius: 10px;
    max-height: 50px;
    margin: 8px;
    box-shadow: 2px 2px 2px 2px;
}

@media  screen and (max-width:768px) {
    .animal_name {
        margin: 8px;
    }   
}

@media screen and (max-width:700px) {
    .sidebar {
        flex-basis: 15%;
        background-color: black
    }

    .sidebar_menu {
        border-bottom: 2px solid white;
        min-height: 60px;
    }

    .animal_name {
        display: none;
    }

    .animal_icon {
        width: 75%;
        height: auto;
    }

    .active {
        min-height: 70px;
        min-width: 70px;
    }
      
}

@media screen and (max-width:400px) {
    .animal_icon {
        min-height: 50px;
        min-width: 50px;
    }

    .active {
        min-height: 50px;
        min-width: 50px;
    }
}