.main_description {
    margin: 0;
    flex-basis: 75%;
    box-shadow: 2px 2px 2px 2px;
    /* background-color: rgba(185, 201, 179); */
    color: white;
}

.heading {
    margin: 16px;
}

.heading p {
    font-size: 18px;
}

.animal_container img {
    width: 25%;
    height: auto;
}

.animal_container {
    background-color: black;
    margin:  48px;
    margin-left: 10%;
    max-width: 600px;
    /* place-items: center; */
    border-radius: 25px;
    box-shadow: 2px 2px 2px 2px;
    min-height: 450px;
}

.animal_icon {
    margin-left: 35%;
    animation: oscillateX 3s ease-in-out infinite;
}

.animal_name {
    padding: 16px;
    text-transform: uppercase;
    text-align: center;
}

.animal_description {
    margin: 8px;
    font-size: 18px;
    text-indent: 30px;
    line-height: 25px;
}

.link {
    margin: 48px;
    text-align: center;
}

.link a {
    text-decoration: none;
    color: white;
}

@media screen and (max-width:700px) {
    
    .main_description {
        flex-basis: 85%;
        background-image: url('../../assets/white_flamingo.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    
}

@keyframes oscillateX {
    0%   { transform: translateX(0); }
    25%  { transform: translateX(20px); }
    50% { transform: translateX(30px); }
    75% { transform: translateX(20px); }
    100%   { transform: translateX(0); }
  }