.main_description {
    margin: 16px;
    margin-left: 0;
    flex-basis: 75%;
    box-shadow: 2px 2px 2px 2px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.heading {
    margin: 16px;
}

.animal_container img {
    width: 25%;
    height: auto;
}
